* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #FFF;
    --dark: #262646;
}
.txt {
    color: #fff;
}
body {
    /* background-image: url(bg.jpg); */
    position: fixed;
}