@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #FFF;
    --dark: rgba(27, 27, 50, 0.8);
    --green: #37af65;
}
.txt {
    color: #fff;
}
.txt::selection {
    background-color: #000;
    color: #F76B08;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
header h1 {
    text-align: center;
    padding: 1.5em 0 5px 0;
    font-size: 46px;
    color: purple !important;
}
header p {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.form {
    background-color: var(--dark);
    width: 950px;
    padding: 4.5em 4em;
}
.field-txt>p, .field-txt>label{
    display: block;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: .5px;
    margin-bottom: .5rem;
}
.field-txt input {
    margin-bottom: 1.5rem;
    font-size: 20px;
    padding-left: 2%;
    letter-spacing: 1px;
    width: 100%;
    height: 52px;
    border-radius: 6px;
}
.field-drop label, .field-drop p {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: .5rem;
}
.field-drop select {
    width: 100%;
    height: 52px;
    font-size: 22px;
    font-weight: 500;
    color: gray;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}
.field-radio p {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: .5rem;
}

.field-radio label {
    padding-left: 8px;
    font-weight: 600;
}
.field-check p {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: .5rem;
}
.field-check label {
    font-weight: 600;
    padding-left: 8px;
    
}
.field-txt .comment {
    margin-top: 20px;
    margin-bottom: 10px;
}
.field-txt textarea {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 32px;
}
#suggestion {
    font-size: 20px;
}
button.submit {
    width: 100%;
    padding: 20px 10px;
    font-size: 22px;
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
    border-radius: 6px;
    transition: .2s ease-in-out;
}
button.submit:hover {
    background-color: #1b1a2d;
}